.logout {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.logout__actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.logoutPage {
  width: 100%;
  display: flex;
  justify-content: center;
}