name: Build & Push UI Image

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: build docker image
        run: docker build -t sthireveedhi/profile-hub-ui:${GITHUB_SHA::7} -t sthireveedhi/profile-hub-ui:latest .
      - name: push image to docker
        run: |
          docker push sthireveedhi/profile-hub-ui:${GITHUB_SHA::7}
          docker push sthireveedhi/profile-hub-ui:latest
  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Deploy to EC2 (pull latest + compose up)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e
            cd /opt/profile-hub
            docker compose pull
            docker compose up -d
            docker image prune -f